version: '3.8'

services:
  web:
    build:
      context: ./
      dockerfile: Dockerfile.dhl
    command: ./init-scripts/web-prod.sh
    expose:
      - 5000
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
  worker:
    build:
      context: ./
      dockerfile: Dockerfile.dhl
    command: ./init-scripts/worker.sh
    volumes:
      - ${BATCH_INPUT_PATH}:/batches
    environment:
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - WORKER_TIMEOUT=${WORKER_TIMEOUT}
    extra_hosts:
      - "localhost:host-gateway"
    deploy:
      replicas: ${WORKER_REPLICAS}
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.dhl
    ports:
      - ${PORT}:8080
    volumes:
      - ${BATCH_INPUT_PATH}:/batches
    environment:
      - WEB_HOST=web:5000
    depends_on:
      - web