//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================

$floating-nav-margin: 0rem;

$box-shadow: 0 3px 16px 0 rgba($black, 0.1);

$content-padding: 1.3rem;