/node_modules
/dist

/.git
/.gitignore
/.env
/.env.example
/.vscode

/Dockerfile
/Dockerfile.prod
/docker-compose.yaml
/docker-compose.prod.yaml

/Dockerfile.ubi
/Dockerfile.ubi.prod
/docker-compose.ubi.yaml
/docker-compose.ubi.prod.yaml

/start.sh
/stop.sh