version: "3.8"
services:
  web:
    build: ./
    command: ./init-scripts/web-prod.sh
    expose:
      - 5000
    environment:
      - BACKEND_URL=${BACKEND_URL}
      - BACKEND_USER_NAME=${BACKEND_USER_NAME}
      - BACKEND_PASSWORD=${BACKEND_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
    extra_hosts:
      - "localhost:host-gateway"
  nginx:
    build:
      context: ./nginx
    ports:
      - ${PORT}:8080
    environment:
      - WEB_HOST=web:5000
    depends_on:
      - web
  worker:
    build: ./
    command: ./init-scripts/worker.sh
    environment:
      - BACKEND_URL=${BACKEND_URL}
      - BACKEND_USER_NAME=${BACKEND_USER_NAME}
      - BACKEND_PASSWORD=${BACKEND_PASSWORD}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_USERNAME=${RABBITMQ_USERNAME}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - WORKER_TIMEOUT=${WORKER_TIMEOUT}
    extra_hosts:
      - "localhost:host-gateway"
    deploy:
      replicas: ${WORKER_REPLICAS}
