apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-backend-qdrant
  labels:
    application: {{ .Release.Name }}-backend-qdrant
spec:
  type: ClusterIP
  selector:
    application: {{ .Release.Name }}-backend-qdrant
  ports:
    - name: http
      port: 6333
      targetPort: 6333
      protocol: TCP
    - name: grpc
      port: 6334
      targetPort: 6334
      protocol: TCP
