apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-utility-engine-web
  labels:
    application: {{ .Release.Name }}-utility-engine-web
spec:
  replicas: 1
  selector:
    matchLabels:
      application: {{ .Release.Name }}-utility-engine-web
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      name: {{ .Release.Name }}-utility-engine-web
      labels:
        application: {{ .Release.Name }}-utility-engine-web
    spec:
      containers:
        - name: web
          image: {{ .Values.common.artifactoryImageBaseUrl }}/{{ .Values.images.utilityEngine.web.name }}:{{ .Values.images.utilityEngine.web.tag }}
          imagePullPolicy: IfNotPresent
          command:
            - gunicorn
            - --bind
            - 0.0.0.0:5000
            - manage:app
          resources:
            {{- toYaml .Values.utilityEngine.web.resources | nindent 12 }}
          ports:
            - containerPort: 5000
              protocol: TCP
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 10
            successThreshold: 1
            failureThreshold: 3
