/.git
/.gitignore
/.env
/.env.example
/.vscode

/Dockerfile
/Dockerfile.ubi
/docker-compose.yaml
/docker-compose.prod.yaml
/docker-compose.ubi.yaml
/docker-compose.ubi.prod.yaml
/nginx
/postgres
/redis
/rabbitmq

/start.sh
/stop.sh