apiVersion: v1
kind: Service
metadata:
  name: pgadmin
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - port: 5050
    protocol: TCP
    targetPort: 5050
  selector:
    application: pgadmin
  sessionAffinity: None
  type: ClusterIP