version: "3.8"
services:
  web:
    build: ./
    command: python3 manage.py run -h 0.0.0.0
    ports:
      - ${PORT}:5000
    volumes:
      - ./:/app
    environment:
      - FLASK_APP=${FLASK_APP}
      - FLASK_ENV=${FLASK_ENV}